<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= WellcomeMSG %></p>
	<p><a href="/login"><%= LoginMSG %></p></p>
	<p><a href="/CreateNewUser"><%= registMSG %></p></p>
  </body>
</html>
