<!DOCTYPE html>
<html>
   <head>
      <title>User management</title>
	  <!--为了让 Bootstrap 开发的网站对移动设备友好，确保适当的绘制和触屏缩放，需要在网页的 head 之中添加 viewport meta 标签-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!-- 引入 Bootstrap -->
      <link href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

      <!-- HTML5 Shim 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
      <!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
      <!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
   </head>
  <body>
  
    <h1>All users RPT</h1>
	

	
<% if (persons) { %>  
<table class="table  table-striped table-bordered table-hover table-condensed">  
<thead>
<tr class="active"><th>ID</th><th>UserName</th><th>Group</th></tr>
</thead>
<tbody>
<% persons.forEach(function(name){ %> 
<%if(name.Ugroup=="CA"){%>
<tr class="danger"><td><%= name._id %></td><td><a href="/editUser"><%= name.name %></a></td><td><%= name.Ugroup %></td></tr>
<%} else {%>
<tr><td><%= name._id %></td><td><a href="/editUser"><%= name.name %></a></td><td><%= name.Ugroup %></td></tr>
<%}%>
<% }) %>  
<% } %> 
</tbody>
</table>
 
<ul class="pagination">
    <li><a href="#">&laquo;</a></li>
    <li class="active"><a href="#">1</a></li>
    <li class="disabled"><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">&raquo;</a></li>
</ul>


<input type="submit" onclick="return testJS();" id="SelectAll" alt="SelectAll" name="SelectAll" value="Select all users">

<p><input type="submit" onclick="return testJS();" id="deleteBTN" alt="deleteBTN" name="deleteBTN" value="Delete selecetd users"></p>
      <!-- jQuery (Bootstrap 的 JavaScript 插件需要引入 jQuery) -->
      <script src="js/jquery-3.1.1.min.js"></script>
      <!-- 包括所有已编译的插件 -->
      <script src="js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>

</html>
<script>


fucntion testJS(){
alert("xx");
return false;
}
</script>